<phpunit bootstrap="vendor/autoload.php" convertErrorsToExceptions="false">
    <testsuites>
        <testsuite name="PlatypusFunctionalTests">
            <directory>tests/Functional</directory>
        </testsuite>
        <testsuite name="PlatypusUnitTests">
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="error_reporting" value="E_ALL" />
        <ini name="display_errors" value="On" />
        <ini name="display_startup_errors" value="On" />
    </php>
</phpunit>
